# http://editorconfig.org

# top-most EditorConfig file
root = true

# every file needs these
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# C++ files want tab indentation
[*.{h,cpp}]
indent_style = tab
indent_size = 2

# Makefiles want tab indentation
[Makefile.am]
indent_style = tab
indent_size = 2

# YML files want space indentation
[*.yml]
indent_style = space
indent_size = 2

# appveyor.yml is meant for windows (mloskot said)
[appveyor.yml]
end_of_line = crlf

# Visual-C files want carriage returns too
[*.{vc,opt}]
end_of_line = crlf

# CMake configuration files
[CMakeLists.txt]
indent_style = space
indent_size = 2

# CMake modules
[*.cmake]
indent_style = space
indent_size = 2

# operation/union directories were found to be using spaces
[src/operation/union/*.cpp]
indent_style = space
indent_size = 2
[include/geos/operation/union/*.{h,inl}]
indent_style = space
indent_size = 2

# XMLTester.cpp wants 2-space indent
[tests/xmltester/XMLTester.cpp]
indent_style = space
indent_size = 4

# Stackwalker.cpp wants 4-space indent
[tests/xmltester/Stackwalker.cpp]
indent_style = space
indent_size = 2
