# http://editorconfig.org

# top-most EditorConfig file
root = true

# every file needs these
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# C/C++ files want 4-space indentation
[*.{h,cpp,inl,h.in,c}]
indent_style = space
indent_size = 4

# Makefiles want tab indentation
[Makefile.am]
indent_style = tab
indent_size = 2

# YML files want space indentation
[*.yml]
indent_style = space
indent_size = 2

# appveyor.yml is meant for windows (mloskot said)
[appveyor.yml]
end_of_line = crlf

# Visual-C files want carriage returns too
[*.{vc,opt}]
end_of_line = crlf

# CMake configuration files
[CMakeLists.txt]
indent_style = space
indent_size = 2

# CMake modules
[*.cmake]
indent_style = space
indent_size = 2

