/*build*
/*install*
aclocal.m4
Makefile.in
Makefile
.libs
.deps
.vimrc
.dirstamp
.tm_properties
*\~
*.o
*.orig
*.lo
*.la
*.log
*.swo
*.swp
*.trs
*.exe
*.cmake
CMakeFiles
CMakeCache.txt
CMakeLists.txt.user
DartConfiguration.tcl
.DS_Store
macros/libtool.m4
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
macros/lt~obsolete.m4
tags
test-driver
tests/thread/badthreadtest
tests/thread/threadtest
tests/unit/geos_unit
tests/xmltester/SimpleWKTTester
tests/xmltester/XMLTester
tests/xmltester/testrunner
tools/geos.pc
tools/geos-config
tools/astyle/astyle
tests/bigtest/TestSweepLineSpeed
tests/bigtest/bug234
tests/geostest/geostest
benchmarks/algorithm/InteriorPointAreaPerfTest
benchmarks/algorithm/UnaryUnionSegmentsPerfTest
benchmarks/algorithm/VoronoiPerfTest
benchmarks/capi/GEOSPreparedContainsPerfTest
benchmarks/capi/IntersectionPerfTest
benchmarks/capi/memleak_mp_prep
benchmarks/capi/UnaryOpPerfTest
benchmarks/operation/buffer/IteratedBufferStressTest
benchmarks/operation/predicate/RectangleIntersectsPerfTest
benchmarks/ClassSizes
include/config.h.in~
include/geos/platform.h
include/geos/platform.h.disabled
include/geos/stamp-h2
include/geos/version.h
include/stamp-h1
install-sh
compile
libtool
ltmain.sh
missing
py-compile
autom4te.cache/
capi/geos_c.h
config.guess
config.log
config.status
config.sub
depcomp
doc/Doxyfile
doc/example
doc/doxygen_docs
include/config.h
include/config.h.in
authors.git
!/docker/**/README
!/docker/**/Makefile
/.vs*
.idea/
.project
out/
.ccache/
web/public/
