/*build*
/*install*
aclocal.m4
Makefile.in
Makefile
.libs
.deps
.vimrc
.dirstamp
.tm_properties
*\~
*.o
*.orig
*.lo
*.la
*.log
*.swo
*.swp
*.trs
*.exe
*.cmake
CMakeFiles
CMakeCache.txt
CMakeLists.txt.user
DartConfiguration.tcl
.DS_Store
bin
lib
tags
tools/geos.pc
tools/geos-config
include/geos/version.h
capi/geos_c.h
!/docker/**/README
!/docker/**/Makefile
/.vs*
.idea/
.project
.ccache/
web/public/
