README
_build
aclocal.m4
Makefile.in
Makefile
geos_svn_revision.h
.libs
.deps
.vimrc
.dirstamp
*.o
*.lo
*.la
*.log
*.trs
macros/libtool.m4
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
macros/lt~obsolete.m4
test-driver
tests/thread/badthreadtest
tests/thread/threadtest
tests/unit/geos_unit
tests/xmltester/SimpleWKTTester
tests/xmltester/XMLTester
tests/xmltester/testrunner
tools/geos-config
tests/bigtest/TestSweepLineSpeed
tests/bigtest/bug234
tests/geostest/geostest
tests/perf/operation/buffer/IteratedBufferStressTest
tests/perf/operation/predicate/RectangleIntersectsPerfTest
tests/perf/capi/memleak_mp_prep
tests/perf/ClassSizes
include/geos/platform.h
include/geos/stamp-h2
include/geos/version.h
include/stamp-h1
install-sh
compile
libtool
ltmain.sh
missing
py-compile
swig/geos.i
autom4te.cache/
capi/geos_c.h
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/Doxyfile
doc/example
include/config.h
include/config.h.in
authors.git
!/docker/**/README
!/docker/**/Makefile
