Brendan Ward <bcward@astutespruce.com>
Casper van der Wel <caspervdw@gmail.com>
Daniel Baston <dbaston@gmail.com>
Daniel Baston <dbaston@gmail.com> <dbaston@isciences.com>
Daniel Baston <dbaston@gmail.com> <dbaston@maponics.com>
Howard Butler <howard@hobu.co> <hobu.inc@gmail.com>
Martin Davis <mtnclimb@gmail.com>
Martin Davis <mtnclimb@gmail.com> <mtnclimb@gmail.co>
Mateusz Łoskot <mateusz@loskot.net>
Paul Ramsey <pramsey@cleverelephant.ca>
Paul Ramsey <pramsey@cleverelephant.ca> <pramsey+github@cleverelephant.ca>
Paul van der Linden <paul.doskabouter@gmail.com> <doskabouter@users.noreply.github.com>
Raul Marin <rmrodriguez@cartodb.com> <git@rmr.ninja>
Regina Obe <lr@pcorp.us>
Sandro Santilli <strk@kbt.io> <strk@keybit.net>
Vicky Vergara <vicky@georepublic.de>
