Sandro Santilli <strk@kbt.io> <strk@keybit.net>
Mateusz Łoskot <mateusz@loskot.net>
Martin Davis <mtnclimb@gmail.com> <mtnclimb@gmail.co>
Martin Davis <mtnclimb@gmail.com> mdavis
Raul Marin <rmrodriguez@cartodb.com> <git@rmr.ninja>
Paul Ramsey <pramsey@cleverelephant.ca>
Regina Obe <lr@pcorp.us>
Daniel Baston <dbaston@gmail.com> <dbaston@isciences.com>
Daniel Baston <dbaston@gmail.com> dbaston <dbaston@gmail.com>
Daniel Baston <dbaston@gmail.com> <dbaston@maponics.com>
Paul van der Linden <paul.doskabouter@gmail.com>
Paul van der Linden <paul.doskabouter@gmail.com> <doskabouter@users.noreply.github.com>
