Source: geos
Section: science
Priority: optional
Maintainer: Alex Bodnaru <alexbodn@012.net.il>
Build-Depends: debhelper (>= 4.0.0), c++-compiler, doxygen, autoconf2.13, autotools-dev
Standards-Version: 3.6.1

Package: libgeos-dev
Section: science
Priority: optional
Architecture: any
Depends: libgeos (= ${Source-Version})
Recommends: libgeos-doc (= ${Source-Version})
Description: GEOS (Geometry Engine - Open Source) development files
 GEOS (Geometry Engine - Open Source) is a C++ port of the 
 Java Topology Suite (JTS). As such, it aims to contain the 
 complete functionality of JTS in C++. This includes all 
 the OpenGIS "Simple Features for SQL" spatial predicate 
 functions and spatial operators, as well as specific JTS 
 topology functions such as IsValid().
 .
 This package contains the files required to compile and 
 link a program with GEOS.

Package: libgeos
Section: science
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Description: GEOS (Geometry Engine - Open Source) library
 GEOS (Geometry Engine - Open Source) is a C++ port of the 
 Java Topology Suite (JTS). As such, it aims to contain the 
 complete functionality of JTS in C++. This includes all 
 the OpenGIS "Simple Features for SQL" spatial predicate 
 functions and spatial operators, as well as specific JTS 
 topology functions such as IsValid().

Package: libgeos-doc
Section: doc
Priority: optional
Architecture: all
Description: GEOS (Geometry Engine - Open Source) documentation
 GEOS (Geometry Engine - Open Source) is a C++ port of the 
 Java Topology Suite (JTS). As such, it aims to contain the 
 complete functionality of JTS in C++. This includes all 
 the OpenGIS "Simple Features for SQL" spatial predicate 
 functions and spatial operators, as well as specific JTS 
 topology functions such as IsValid().
 .
 This package contains a reference manual for the GEOS library
 claees.
